head{
	font-weight: bold;
}

table, th, td {
	font-family: roboto;
  	border: 2px solid black;
 	background: grey;
}

body{
	background-color: lightblue;
}

h1, h2{
	font-family: roboto;
	font-size: 35px;
}


p, ul, li{
	font-family: roboto;
	font-size: 20px;
}

a, a:link, a:visited{
	color: white;
}

a:hover{
	color:lightpink;
}

a:active{
	color:lightgreen;
}

