head{
	font-weight: bold;
}

table, th, td {
  border: 2px solid black;
  background: grey;
}

body{
	font-weight: normal;
	background-color: lightblue;
}

p{
	font-size: 130%;
}

li{
	font-size: 130%;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color:hotpink;
}

a:active{
	color:lightgreen;
}

